/*Sección About*/

section.about{
    display: flex;
    justify-content: center; 
    align-items: center;
    height: auto;
    width: auto;
    background-color:#EAF2FD;    
}

.about__container img{
    padding-left: 24%;
    padding-bottom: 50px;
    
}

/*SOBRE MI */
.about__title{
    display: flex;
    justify-content:left;
    font-family: sans-serif;
    padding-top: 2%;
    padding-left: 25%;
}

.about__paragraph{
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    font-size: 16px;
    align-items: center;
    padding-left: 25%;
    width: 51%;   
}

.about__paragraph1{
    font-weight: bold;
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    font-size: 16px;
    align-items: center;
    padding-left: 8.1%;
    width: 51%;   
}

.about__paragraph2{
    font-weight: bold;
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    font-size: 16px;
    align-items: center;
    padding-left: 25%;
    width: 51%;   
}

.about__paragraph3{
    font-weight: bold;
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    font-size: 16px;
    align-items: center;
    padding-left: 25%;
    width: 51%;   
}

.about__paragraph3 a{
    color: blue;
}

.about__paragraph3 a:hover{
    font-weight: bold;
    text-decoration: underline;
    font-size: large;
}
