 .section__timeline{
    padding-bottom: 136px;
   }
   

  /* Punto en la línea */
  .timeline__item {
    position: relative;
    margin-bottom: 40px; /* Espacio entre puntos */
  }

  .timeline__item::before {
    content: '';
    position: absolute;
    left: -60px; /* Centra el punto respecto a la línea */
    top: 0;
    width: 30px;
    height: 16px;
    background-color: #1f1715; /* Color del punto */
    border-radius: 50%; /* Hace el punto circular */
    border: 2px solid #fff; /* Borde blanco */
    z-index: 1;
    
  }

/* Contenedor de la línea de tiempo */
  .timeline{
    border-left: 6px solid rgb(17, 26, 17);
    min-height: 100%; /* Altura de la línea */
    position: relative;
    left: 40%;
    top: 123px;
    margin: 20px 0;
    padding-left: 40px;
  }

  .timeline__text{
    position: relative;
    left: -22px;
  }

  .timeline__text2{
    position: relative;
    left: 141px;
    width: 20%;
  }