/*Contacto*/

section.formcontato{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #EAF2FD;
    height: 788px;
    position: relative;
    top: -94px;

}

.formcontato__contacto{
    display: flex;
}

.formcontato__text{
    position: relative;
    top: -27px;
}

.formcontato__form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap:15px;
    margin: 0 0 20px;
    padding: 10px 13px;
    width: 50%;
}

.formcontato__title{
    position: relative; 
    right: -2%;
    font-family: sans-serif;
    font-size: 32px;
}

.formcontato__subtext{
    position: relative; 
    right: -2%;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: lighter;
}

.formcontato__input{
    margin-bottom: 15px;
    width: 519px;
    height: 30px;
}

.formcontato__textarea{
    width: 519px;
    height: 133px;
}

#errorNombre,
#errorEmail, 
#errorAsunto,   
#errorMensaje {
    position: relative;
    color: red;
    font-size: 13px;
    font-weight: bold;
    top: -14px;
}

#errorNombre,
#errorEmail, 
#errorAsunto {
    position: relative;
    top: -28px;
}

.formcontato__botao{
    margin-top: 15px;
    background-color: #2A7AE4;
    border: none;
    color: #FFFFFF;
    width: 144px;
    height: 51px;
}

.formcontato__botao:hover{
    background-color: #3f33e7
}

.formcontato__botao:disabled {
    background: #898989;
}
