/*Sección Menu*/
section.menu{
    display: flex; 
    align-items: center;
    justify-content: space-around;
    background-color: darkgrey;
}


/*Header*/
.menu__header{
    display: flex;
    justify-content: space-around;
    white-space: nowrap; /*PARA QUE EL TEXTO SE MANTENGA DE FORMA HORIZONAL NO IMPORTANDO EL TAMAÑO DE PANTALLA*/
    align-items: center;
   
}


.menu__header img{
    margin-right: 5px;
    height: 20px;
    width: 25px;
    
}

nav a:hover {
    animation:infinite;
    color: #2c69c4;
    text-decoration: underline; /* Se muestra subrayado el texto al pasar el cursor*/
    transform: translateY(-10px); /* Desplazar hacia arriba 10px */
    transition: 0.3s ease; /* Transición suave durante 0.3 segundos */
    font-weight: bold;
} 