/*************************************************************/
/*Mobile*/
@media screen and  (max-width: 768px) {

    body {
        max-width: 100vw; /* 100% del ancho de la ventana */
     }

 /*Sección Menu*/

    section.menu{
        padding-left: 2%;
        padding-right: 98%;
    }


    /*Header*/
    .menu__header{
       width: 5%;
    }

    .menu__header img{
        margin-right: 12px;
        height: 20px;
        width: 25px;
        position: relative;
        left: 2vw;
    }

    .menu__title{
        display: flex;
        font-size: 15px;
        
    }


    /*Opciones del menu ocultas*/
    .menu__list__item:nth-child(1),
    .menu__list__item:nth-child(2),
    .menu__list__item:nth-child(3),
    .menu__list__item:nth-child(4),
    .menu__list__item:nth-child(5){
        display: none; /*Con esto se oculta todos los elementos */ ;
    }

    .menu__list__item{
        position: relative;
        padding-left: 96%;
        font-size: 15px;
        font-weight: lighter;
    }




    /*Sección Title*/

    section.title{
       font-size: 19px;
       padding-right: 0;
       padding-top: 135px;
    }

    .title__div{
        width: 100%;
        position: relative;
        top: 20%;
    }

    /*IMAGEN FOTO PERFIL*/
    .title__profile{
        width: 98px;
        height: 98px;
        position: relative;
        left: 5%;
        top: -71%;
    }

    .title__container{
        right: 42%;
    }

    .title__bio{
        font-size: 22px;
        width: 118%;
        padding-bottom: 3%;
        margin: 1% 1%;
        left: 68px;
        position: relative;
    }

    .title__subsection{
        font-size: 14px;
        font-weight: lighter;
        width: 113%;
        margin: 0%;
        position: relative;
        left: 26%;
    }

    .title__network{
        left: -1%;
    }

    .title__network__item{
        font-size: 14px;
        font-weight: bold;
        position:  relative;
        left: 16%;
    }

    .title__network__item:hover{
        font-weight: bold;
        text-decoration: underline;
        font-size: large;
    }

    .title__network__item a {
        display: flex;
        flex-direction: row;
        font-size: 14px;
    }

    .title__network__item img{
        margin-left: 3px;
    }



    /*Sección About*/

    section.about{
        display: flex;
        justify-content: center; 
        align-items: center;
        height: auto;
        width: auto;  
    }

    .about__container img{
        padding-left: 3%;
        padding-bottom: 3%;
        
    }

    /*SOBRE MI */
    .about__title{
        display: flex;
        justify-content:left;
        font-family: sans-serif;
        padding-top: 1%;
        padding-left: 6%;
    }

    .about__paragraph{
        display: flex;
        flex-direction: column;
        font-family: sans-serif;
        font-size: 14px;
        align-items: center;
        padding-left: 6%;
        width: 90%;   
    }

    .about__paragraph1{
        font-weight: bold;
        display: flex;
        flex-direction: column;
        font-family: sans-serif;
        font-size: 16px;
        align-items: center;
        padding-left: 7%;
        width: 86%;   
    }
    
    .about__paragraph2{
        font-weight: bold;
        display: flex;
        flex-direction: column;
        font-family: sans-serif;
        font-size: 16px;
        align-items: center;
        padding-left: 6%;
        width: 86%;   
    }
    
   
.about__paragraph3{
    font-weight: bold;
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    font-size: 16px;
    align-items: center;
    padding-left: 25%;
    width: 51%;   
}

.about__paragraph3 a{
    color: blue;
}


    /*Seccion skills*/

    section.skills{
        position: relative;
        padding-top: 26px;
    }

    .skills__title{
        em {
            display: none;
        }
    }

    /* ICONOS SKILLS */
    .skills__line{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }


    .skills__box:nth-child(1),
    .skills__box:nth-child(2){
        left: -25px;    
        width: 318px;
        height: 200px;
        top: -1px;
    }

    .skills__box:nth-child(3){
        width: 318px;
        height: 200px;
        top: 3px;
        left: -25px;
    }

    .skills__box:nth-child(4){
        width: 318px;
        height: 200px;
        top: 8px;
        left: -25px;
    }

    .skills__box:nth-child(5){
        width: 318px;
        height: 200px;
        top: 26px;
        left: -25px;
    }

    .skills__box:nth-child(6){
        width: 318px;
        height: 200px;
        top: 42px;
        left: -25px;
    }

    .skills__box:nth-child(7){
        width: 318px;
        height: 200px;
        top: 55px;
        left: -25px;
    }




    .skills__box{
        position: relative;
        background-color: #ffffff;
        border: #f5f5f5 solid 10px;
        width: 176px;
        height: 174px;
    }


    .skills__box ul{
        gap: 15px;
        right: 15px;
        top: 83px;
    }

    .skills__box img{
        width: 32px;
        height: 37px;
    }

    .skills__Descripcion{
        display: flex;
        position: relative;
        justify-content: center;
        top: 17px;
        padding-bottom: 5rem;
        font-size: 18px;
    } 
    
    
    .skills_ImgName{
        display: flex;
        position: relative;
        flex-direction: column;
        top: -10px;
    }
    
    .skills_ImgName li:hover{
        font-size: 17px;
    }
    
    .skills__name{
        font-weight: bold;
        font-size: 19px;
    }
    
    .skills__Descripcion_1{
        display: flex;
        position: relative;
        justify-content: center;
        top: 10px;
        font-size: 17px;
        padding-bottom: 3rem;
    }
    
    .skills_ImgName_1{
        display: flex;
        position: relative;
        flex-direction: column;
        top: -10px;
    }
    
    .skills_ImgName_1 li:hover{
        font-size: 16px;
    }
    
    .skills__Descripcion_2{
        display: flex;
        position: relative;
        justify-content: center;
        top: 13px;
        font-size: 18px;
        padding-bottom: 3rem;
    }
    
    .skills_ImgName_2{
        display: flex;
        position: relative;
        flex-direction: column;
        top: -6px;
    }
    
    .skills_ImgName_2 li:hover{
        font-size: 17px;
    }
    
    .skills_ImgName_3{
        display: flex;
        position: relative;
        flex-direction: column;
        top: -7px;
    }
    
    .skills_ImgName_3 li:hover{
        font-size: 16px;
    }



    /*Sección Hobbies*/

    section.hobbies{
        display: flex;
        justify-content: center; 
        align-items: center;
        flex-direction: column;
        padding-top: 76px;
    }

    .hobbies__line{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
    }

    .hobbies__box{
        position: relative;
        background-color: #ffffff;
        border: #f5f5f5 solid 10px;
        width: 176px;
        height: 174px;
    }

    .hobbies__box:nth-child(1),
    .hobbies__box:nth-child(2){
        left: 25%;    
        width: 156px;
        height: 118px;
    }

    .hobbies__box:nth-child(3),
    .hobbies__box:nth-child(4){
        width: 156px;
        height: 118px;
        top: 166px;
        right: 25%;
    }

    .hobbies__box ul{
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 5px;
        right: 15px;
        top: 83px;
    }

    .hobbies__box ul:nth-child(1),
    .hobbies__box ul:nth-child(2){
        gap: 15px;
        right: 28px;
        top: 14px;
    }

    .hobbies__box img{
        width: 32px;
        height: 37px;
    }




    /* Experiencia Académica*/

    section.academic{
        display: flex;
        justify-content: center; 
        align-items: center;
        flex-direction: column;
        padding-top: 11px;
        padding-bottom: 492px;
    }

    .academic__courses{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
    }

    .academic__courses__box{
        position: relative;
        background-color: #ffffff;
        border: #EAF2FD solid 10px;
        width: 368px;
        height: 286px;
    }

    .academic__courses__box:nth-child(1){
        left: 33.2%;    
        width: 296px;
        height: 118px;
    }

    .academic__courses__box:nth-child(2){
        width: 296px;
        height: 118px;
        top: 206px;
        left: 0%;
    }

    .academic__courses__box:nth-child(3){
        width: 296px;
        height: 118px;
        top: 406px;
        left: -33%;
    }

   
    .academic__courses__list{
        position: relative;
        display: flex;
        flex-direction: column;
        font-family: sans-serif;
        font-size: 22px;
        margin: 0; 
        padding: 0;
    }

    .academic__courses__list:nth-child(1){
        gap: 15px;
        right: 28px;
        top: 14px;
    }

    .academic__courses__list img{
        position: relative;
        padding: 12px 122px;
        width: 102px;
        height: 60px;
    }

    .academic__courses__item__title{
        position: relative;
        white-space: nowrap;
        top: -73px;
        left: 27px;
        font-size: 16px;
    }

    .academic__courses__item__subtitle{
        position: relative;
        font-size: 14px;
        top: -79px;
        left: 27px;
    }


    /*Experiencia profesional*/

    .section__timeline{
        top: 92px;
        position: relative;
        padding-bottom: 136px;
        left: -29%;
       }

       #Experience_Prof {
        left: 33%;
        flex-wrap: wrap;
        margin: 0%;
    }
       
    
      /* Punto en la línea */
      .timeline__item {
        position: relative;
        margin-bottom: 40px; /* Espacio entre puntos */
        width: 291px;
      }
    
      .timeline__item::before {
        content: '';
        position: absolute;
        left: -60px; /* Centra el punto respecto a la línea */
        top: 0;
        width: 30px;
        height: 16px;
        background-color: #1f1715; /* Color del punto */
        border-radius: 50%; /* Hace el punto circular */
        border: 2px solid #fff; /* Borde blanco */
        z-index: 1;
        
      }
    
    /* Contenedor de la línea de tiempo */
      .timeline{
        border-left: 6px solid rgb(17, 26, 17);
        min-height: 100%; /* Altura de la línea */
        position: relative;
        left: 16%;
        top: 123px;
        margin: 20px 0;
        padding-left: 40px;
      }

      .timeline__text{
        width: 285px;
      }
    
      .timeline__text2{
       em {
        display: flex;
        width: 287px;
        position: relative;
        left: -165px;
       }
      }



    /* experiencia curso alura*/

    section.experience{
        display: flex;
        justify-content: center; 
        align-items: center;
        flex-direction: column;
        padding-top: 91px;
    }

    .experience__section__title{
        text-align: center;
        font-size: 21px;
    }


    .experiencie__box__1{
        position: relative;
        top: 20px;
    }

    .experiencie__box__2{
        position: relative;
        top: 20%;
    }

    .experiencie__box__3{
        position: relative;
        top: 114px;
    }

    .experiencie__box__4{
        position: relative;
        top: 100px;
    }

    .experiencie__box__5{
        position: relative;
        top: 212px;
    }

    .experience__img__1,
    .experience__img__2,
    .experience__img__3,
    .experience__img__4,
    .experience__img__5 {
        width: 296px;
        height: 144px;
    }

    .experience__img__1{
        position: relative;
        left: 0;
    }

    .experience__img__2{
        top: 62px;
        position: relative;
        left: 0;
    }

    .experience__img__3{
        top: -1px;
        position: relative;
        left: 2px;
    }

    .experience__img__4{
        top: 62px;
        position: relative;
        left: 0;
    }

    .experience__img__5{
        top: .5px;
        position: relative;
        left: 0;
    }

    .experience__info__1{
        position: relative;
        top: -5px;
        right: 0;
    }

    .experience__info__2{
        position: relative;
        top: 62px;
        right: 0%;
    }

    .experience__info__3{
        position: relative;
        top: -1px;
        right: 1px;
        padding-left: 1px;
    }


    .experience__info__4{
        position: relative;
        top: 62px;
        right: 0%;
    }

    .experience__info__5{
        position: relative;
        top: -5px;
        right: 0;
    }


    .experience__info__1 h2, 
    .experience__info__2 h2,
    .experience__info__3 h2,
    .experience__info__4 h2,
    .experience__info__5 h2{
    width: 61%;
    font-family: sans-serif;
    font-size: 16px;
    }

   

    .experience__info__1 h3, 
    .experience__info__2 h3,
    .experience__info__3 h3,
    .experience__info__4 h3,
    .experience__info__5 h3{
    width: 307px;
    font-family: sans-serif;
    font-weight: lighter;
    font-size: 16px;
    /*white-space: nowrap;*/
    }


    .experience__description button{
        width: 108px;
        height: 40px;
    }

    .experience__description button:hover{
        background-color: #3f33e7

    }

    .experiencia__botao--repo{
        border: #2A7AE4  solid 1px;
        color: #2A7AE4;

    }

    .experience__botao--demo{
        background-color: #2A7AE4;
        border: none;
        color: #FFFFFF;
    }




    /*Contacto*/

    section.formcontato{
        height: 88%;
        position: relative;
        top: 262px;
        padding-bottom: 5px;
    }

    .formcontato--esquerda{
        display: none;
    }

    .formcontato__text{
        position: relative;
        top: 6px;
    }

    .formcontato__form{
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap:15px;
        margin: 0 0 20px;
        padding: 10px 13px;
        width: 50%;
    }

    .formcontato__title{
        position: relative; 
        right: -7%;
        font-family: sans-serif;
        font-size: 32px;
    }

    .formcontato__subtext{
        position: relative; 
        right: -7%;
        font-family: sans-serif;
        font-size: 14px;
        font-weight: lighter;
        width: 92%;
    }

    .formcontato__input{
        left: 6%;
        position: relative;
        width: 302px;
        height: 40px;
    }

    .formcontato__textarea{
        position: relative;
        left: 6%;
        width: 302px;
        height: 133px;
    }

    .formcontato__form button{
        left: -18%;
        position: relative;
        background-color: #2A7AE4;
        border: none;
        color: #FFFFFF;
        width: 144px;
        height: 51px;
    }

    .formcontato__form button:hover{
        background-color: #3f33e7
    }



    /*footeer*/

    section.footer{
        position: relative;
        top: 331px;
    }
}
