/*Seccion skills*/

section.skills{
    display: flex;
    justify-content: center; 
    align-items: center;
    flex-direction: column;
    padding-top: 35px;
}

.skills__line{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.skills__box{
    position: relative;
    background-color: #ffffff;
    border: #f5f5f5 solid 10px;
    width: 176px;
    height: 174px;
}

.skills__box:hover{
    transform: translateY(-10px); /* Desplazar hacia arriba 10px */
    transition: 0.3s ease; /* Transición suave durante 0.3 segundos */
    border: #000000 solid 5px; /* Cambiamos el color del borde */
}

.skills__box ul{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 15px;
    right: 15px;
    top: 83px;
}

.skills__box img{
    width: 32px;
    height: 37px;
}